.vc_wrapper-param-type-img .img-select ul li.active img{box-shadow:0px 0px 10px red;}
.vc_wrapper-param-type-img .img-select ul li img:hover{box-shadow:0px 0px 10px red;}
.vc_wrapper-param-type-font_container{display:none;}